.App {
  text-align: center;
}

@keyframes aniVertical {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.datagrid {
  animation: aniVertical 3s ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  opacity: 0;

  &:nth-child(2) {
    animation-delay: .5s;
  }

  &:nth-child(3) {
    animation-delay: 1s;
  }
}

.card {
  border: darkgray 1px solid;
  margin: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.fecha {
  padding: 0 0.5rem;
  font-size: smaller;
}

.publisher {
  border: rgba(46, 45, 43, 0.961) 1px solid;
  border-radius: 5px;
  background-color: rgba(46, 45, 43, 0.961);
  font-size: smaller;
  color: white;
  width: fit-content;
  padding: 0 0.5rem;
}

a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: darkgray;
}